<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XCDownloadToolExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F43C81D41E60231000E3EB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F43C81E81E60231000E3EB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F43C81F31E60231000E3EB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
